################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WpfAppEnglishGrammar/EnglishGrammar.SQL/EnglishGrammar.SQL.dbmdl
/WpfAppEnglishGrammar/EnglishGrammar.SQL/EnglishGrammar.SQL.jfm
